@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Cousine";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/cousine-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/merriweather-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins-700.woff2") format("woff2");
}

button:focus,
input:focus {
  outline: 0;
}

[data-reach-alert-dialog-content] {
  @apply w-full max-w-xs p-4 text-center border border-gray-300;
}

[data-reach-alert-dialog-description] {
  @apply text-sm leading-6 text-gray-800;
}

[data-reach-alert-dialog-label] {
  @apply font-serif text-2xl font-black leading-9 text-gray-900;
}

[data-reach-alert-dialog-overlay] {
  @apply flex items-center justify-center p-4 bg-black bg-opacity-75;
}
